@inherits UmbracoViewPage<Umbraco.Web.PublishedContentModels.ContactsSection>
@{ 
    var sectionName = this.Model.SectionName;

    var phones = this.Model.Phone.Split(new string[] { "   " }, StringSplitOptions.RemoveEmptyEntries);
    var email = this.Model.Email;

    var address = this.Model.Address;
}


<div id="contact" class="section md-padding">
    <div class="container">
        <div class="row">
            <div class="section-header text-center">
                <h2 class="title">@sectionName</h2>
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-phone"></i>
                    <h3>Телефон</h3>
                    @foreach (var phone in phones)
                    {
                        <a href="tel:@phone">
                            <p>@phone</p>
                        </a>
                    }
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-envelope"></i>
                    <h3>Email</h3>
                    <a href="mailto:@email">@email</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-map-marker"></i>
                    <h3>Адрес</h3>
                    <p>@address</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A28e53d124636e093a6db5652c49e0c27825848b3192272a6190a1dbdd9e62a0b&amp;width=100%&amp;height=455&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>
