@inherits UmbracoViewPage<Umbraco.Web.PublishedContentModels.PricingSection>
@{ 
    var sectionName = this.Model.SectionName;

    // Скачаная таблица c минимальными ценами. Столбцы разделены через табуляцию (Когда копируешь таблицу в бразуере Ctrl+C, ваш кэп).
    // http://advokpalata-21.ru/rechenija/reschenieominimalnichstavkach.html

    var text =
        "Вид юридической помощи	Минимальный размер вознаграждения (руб.)\n" +
        "Консультации и справки по правовым вопросам в устной форме (за каждую отдельную консультацию и справку)	1500\n" +
        "Консультации и справки по правовым вопросам в письменной форме, адвокатский запрос (за каждую отдельную письменную справку, консультацию, запрос)	3000\n" +
        "Консультации и справки по правовым вопросам в условиях следственного изолятора (исправительного учреждения)	6000\n" +
        "Составление заявлений, в том числе исковых, жалоб, ходатайств и других документов правового характера, за исключением апелляционных, кассационных и надзорных жалоб по делам, в которых адвокат ранее участия не принимал (за каждый отдельный документ)	5000\n" +
        "Составление апелляционных, кассационных и надзорных жалоб по делам, в которых адвокат ранее участия не принимал, связанное с изучением дела (за каждый отдельный документ)	15000\n" +
        "Представление интересов доверителя в Конституционном Суде Российской Федерации, Верховном Суде Российской Федерации (за день занятости)	40000\n" +
        "Участие в качестве представителя или защитника доверителя в уголовном судопроизводстве (включая досудебную стадию и стадию рассмотрения дела в суде первой инстанции) и производстве по делам об административных правонарушениях (за день занятости)	8000\n" +
        "Участие в качестве представителя доверителя в гражданском или административном судопроизводстве в судах первой инстанции (за день занятости)	8000\n" +
        "Участие в качестве представителя или защитника доверителя в уголовном, гражданском или административном судопроизводстве в судах апелляционной инстанции (за день занятости)	12000\n" +
        "Представление интересов доверителя в кассационной инстанции (Президиуме) Верховного суда Чувашской Республики и иных равных по уровню судов общей юрисдикции (до начала работы кассационных судов общей юрисдикции)	30000\n" +
        "Представление интересов доверителя в Четвёртом апелляционном суде общей юрисдикции, Шестом кассационном суде общей юрисдикции и иных равных по уровню судах общей юрисдикции (за день занятости)	30000\n" +
        "Участие в качестве представителя доверителя в арбитражном судопроизводстве (первая инстанция), разбирательстве дел в третейском суде и иных органах разрешения конфликтов (за день занятости)	15000\n" +
        "Представление интересов доверителя в арбитражных судах апелляционной и кассационной инстанции, Суде по интеллектуальным правам (за день занятости)	30000\n" +
        "Представление интересов доверителя в органах государственной власти, органах местного самоуправления, общественных объединениях и иных организациях   (за день занятости)	6000\n" +
        "Участие в качестве представителя доверителя в исполнительном производстве, а также при исполнении уголовного наказания, в том числе юридическая помощь осуждённым, находящимся в исправительных учреждениях) (за день занятости)	6000";

    var lines = text.Split('\n').ToList();

    var tableInfo = new List<KeyValuePair<string, string>>();

    foreach (var line in lines)
    {
        var parts = line.Split('\t');
        if (parts.Length == 2)
        {
            tableInfo.Add(new KeyValuePair<string, string>(parts[0], parts[1]));
        }
    }
    var headerInfo = tableInfo.First();
    tableInfo.RemoveAt(0);
}

<!-- Pricing -->
<div id="pricing" class="section md-padding">

    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column1">@headerInfo.Key</th>
                            <th class="column2">@headerInfo.Value</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var info in tableInfo)
                        {
                            <tr>
                                <td class="column1">@info.Key</td>
                                <td class="column2">@info.Value</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
